<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- https://mybatis.org/mybatis-3/ko/dynamic-sql.html 참고문서-->


<!--productMapper 는 interface다-->
<!--    id엔 메서드이름 적어주기 그리고 resultType은 반환형인듯-->
<!--    <select id="getProductById" resultType="product"/> select * from temp.product where id = ?;-->
<mapper namespace="repository.ProductMapper">
<!--    <select id="getProducts" resultType="Product">select * from product </select>-->


    <select id="getProducts" resultType="domain.Product">
        SELECT * FROM product;
    </select>

    <select id="getProduct" parameterType="int" resultType="domain.Product">
        SELECT * FROM product WHERE id = #{id};
    </select>

    <insert id="insertProduct" parameterType="domain.Product">
        INSERT INTO product (id, name, price, countryCode) VALUES (#{id}, #{name}, #{price}, #{countryCode});
    </insert>

    <update id="updateProduct" parameterType="domain.Product">
        UPDATE product set name = #{name}, price = #{price}, countryCode = #{countryCode} WHERE id = #{id};
    </update>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product where id = #{id};
    </delete>

</mapper>