<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">
    <select id="getUserById" resultType="domain.User" parameterType="long">
        SELECT * from user where id = #{id}
    </select>


    <select id="getIdByEmail" resultType="long" parameterType="String">
        SELECT id from user where email = #{email}
    </select>

    <select id="getIdByPwd" resultType="long" parameterType="String">
        SELECT id from user where password = #{password}
    </select>

    <insert id="insertNewUser" parameterType="domain.User">
        insert into user (id, name, email, password) values (#{id}, #{name}, #{email}, #{password});
    </insert>

</mapper>